body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #F4F4F2;
  color: #333;
}

/* Container für den Inhalt */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


/* Überschriften */

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 32px;
}


/* Header */

header {
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: #333;
}

.nav-list a:hover {
  text-decoration: underline;
}


/* Hero */

.hero {
  background-image: linear-gradient(rgba(128, 116, 100, 0.4), rgba(128, 116, 100, 0.4)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 120px 0;
  text-align: center;
}

.hero p {
  color: #ffffff;
}

.hero-box {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}

.hero-box h1 {
  color: #ffffff;
}


/* Allgemein Section */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-white {
  background-color: #ffffff;
}

.section-light {
  background-color: #f5f5f5;
}

.section-accent {
  background-color: #D8C3A5;
}


/* Reiseübersicht (Grid) */

.travel-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  display: inline-block;
}


/* Highlights */

.highlight-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.highlight-card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  grid-column: span 6;
  position: relative;
}

.highlight-card img {
  width: 100%;
  border-radius: 10px;
}

.tag {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  display: inline-block;

  position: absolute;
  bottom: 10px;
  left: 15px;
  color: #ffffff;
  font-weight: 700;

}

/* About Me */

.about-layout {
  display: flex;
  gap: 30px;
  align-items: center;
}

.about-image {
  width: 250px;
  border-radius: 10px;
}

/* Reise1 */

.detail-hero {
  background-image: url("../images/fes-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 140px 0;
}
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-box {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 32px;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.hero-box h1 {
  color: #000;
}

.hero-box p {
  color: #000;
}

.detail-subtitle {
  margin-top: 12px;
}

/* Detailseite-Cards */

.info-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.info-grid .card {
  background: rgba(255, 255, 255, 0.22);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.timeline {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.timeline-item {
  text-align: center;
  padding: 20px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

.timeline-circle {
  width: 48px;
  height: 48px;
  margin: 0 auto 16px;
  border-radius: 50%;
  background-color: #d8c3a5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}


/* Empfehlungen */

.recommendation-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.recommendation-grid ul {
  padding-left: 18px;
  margin: 0;
}


/* Bildergalerie*/

.gallery {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 8px;
}

.gallery img {
  width: 320px;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
  flex-shrink: 0;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}


/* Kontakt */

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

/* Inputs */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: inherit;
}

/* Button */
.contact-form button {
  grid-column: 2;
  padding: 12px 20px;
  background-color: #3e6f73;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Hover */
.contact-form button:hover {
  background-color: #2f575b;
}

/* Intro Text */
.contact-intro {
  margin-bottom: 32px;
  color: #555;
}

/* TextCount */
#charCount {
  font-size: 12px;
  color: #666;
  margin-top: -8px;
  margin-bottom: 16px;
}


/* Footer */

footer {
  margin-top: 80px;
  padding: 40px;
  background-color: white;
  text-align: center;
  border-top: 1px solid #ddd;
}



/* Tablet */

@media (max-width: 1279px) {

  .travel-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .highlight-grid {
    grid-template-columns: 1fr;
  }

  .info-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}


/* Mobile */

@media (max-width: 767px) {

  .nav-wrapper {
    flex-direction: column;
    gap: 10px;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .travel-grid {
    grid-template-columns: 1fr;
  }

  .about-layout {
    flex-direction: column;
  }

  .timeline {
    flex-direction: column;
  }

  .contact-form {
    grid-template-columns: 1fr;
  }

}