body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #F4F4F2;
  color: #333;
}

/* Container für den Inhalt */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


/* Überschriften */

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 32px;
}


/* Header */

header {
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: #333;
}

.nav-list a:hover {
  text-decoration: underline;
}


/* Hero */

.hero {
  background-image: linear-gradient(rgba(128, 116, 100, 0.4), rgba(128, 116, 100, 0.4)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 120px 0;
  text-align: center;
}

.hero p {
  color: #ffffff;
}

.hero-box {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}

.hero-box h1 {
  color: #ffffff;
}


/* Allgemein Section */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-white {
  background-color: #ffffff;
}

.section-light {
  background-color: #f5f5f5;
}

.section-accent {
  background-color: #D8C3A5;
}


/* Reiseübersicht (Grid) */

.travel-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  display: inline-block;
}


/* Highlights */

.highlight-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.highlight-card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  grid-column: span 6;
  position: relative;
}

.highlight-card img {
  width: 100%;
  border-radius: 10px;
}

.tag {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  display: inline-block;

  position: absolute;
  bottom: 10px;
  left: 15px;
  color: #ffffff;
  font-weight: 700;

}

/* About Me */

.about-layout {
  display: flex;
  gap: 30px;
  align-items: center;
}

.about-image {
  width: 250px;
  border-radius: 10px;
}


/* Detailseite-Cards */

.info-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}


/* timeline*/

.timeline {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.timeline-step {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
}


/* Empfehlungen */

.recommendation-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}


/* Bildergalerie*/

.gallery {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.gallery img {
  width: 300px;
  border-radius: 10px;
}


/* Kontakt */

.contact-form {
  max-width: 600px;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 16px 24px;
}

/* Inputs */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: inherit;
}

/* Button */
.contact-form button {
  grid-column: 2;
  padding: 12px 20px;
  background-color: #3e6f73;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Intro Text */
.contact-intro {
  margin-bottom: 32px;
  color: #555;
}



/* Footer */

footer {
  margin-top: 80px;
  padding: 40px;
  background-color: white;
  text-align: center;
  border-top: 1px solid #ddd;
}



/* Tablet */

@media (max-width: 1279px) {

  .travel-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .highlight-grid {
    grid-template-columns: 1fr;
  }

  .info-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}


/* Mobile */

@media (max-width: 767px) {

  .nav-wrapper {
    flex-direction: column;
    gap: 10px;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .travel-grid {
    grid-template-columns: 1fr;
  }

  .about-layout {
    flex-direction: column;
  }

  .timeline {
    flex-direction: column;
  }

  .contact-form {
    grid-template-columns: 1fr;
  }

}